<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; ShelfMaster Private Limited</div>
        <div class="f-info-links">
             <a href="/listings">Privacy Policy</a> &nbsp; &nbsp;
            <a href="/listings">Terms of Service</a>
        </div>
       
    </div>
</footer>